/*-- scss:defaults --*/

$primary: #fafafa !default;
$secondary: #091a28 !default;
$medium: $secondary;
$body-bg: #091a28 !default;
$body-color: $primary !default;
$link-color: #afafaf !default;


/*-- scss:rules --*/