/*-- scss:defaults --*/
$primary: #fafafa !default;
$secondary: #333333 !default;
$medium: #091a28 !default;
$body-bg: $secondary !default;
$body-color: $primary !default;
$link-color: $secondary !default;
$link-hover-color: $primary !default;
$component-active-color: $primary !default;
$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;


/*-- scss:rules --*/

div.quarto-about-solana .about-entity .about-link {
    font-size: 1.5em;
    border-style: none;
    transition: all .35s ease;
}


@media(max-width: 991.98px){
    div.quarto-about-solana .about-entity .about-links {
        flex-direction: row;
        justify-content: center;
    }
}

// Fix Observable background color
div.observablehq > *{
    background-color: $body-bg !important;
}